<div class="flex justify-center">
  <div class="w-full max-w-md px-8 py-12 bg-green-100 border-black border-4 rounded-lg shadow">
       <form  class="form login-form">
            <div>
              
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input 
          class="border rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:border-indigo-500"
          type="email" id="email-login" placeholder="Enter a Email">
            </div>
             <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password 
        </label>

        <input
          class="border rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:border-indigo-500" 
          type="password" id="password-login" placeholder="Enter a Password">
      </div>
           
            <button 
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit">
      Submit
    </button>
        </form>
        <div class="text-grey-dark mt-6">
            Don't have an account? 
            <a class="text-indigo-700 hover:text-gray-700 no-underline  border-blue text-blue" href="../signup">Sign up Instead</a>
        </div>
    </div>
</div>
<script src="./js/login.js"></script>
