<div class="flex justify-center">
  <div class="w-full max-w-md px-8 py-12 bg-green-100 rounded-lg shadow">
        <form class="form signup-form">
            <div>
              
  <h1 class="text-3xl font-medium text-gray-800 text-center">
    Sign Up
  </h1>  
   <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
                <input 
          class="border rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:border-indigo-500"
          type="text" id="username" placeholder="Enter a Username">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input 
          class="border rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:border-indigo-500"
          type="email" id="email-signup" placeholder="Enter a Email">
            </div>
             <div class="mb-4">
        <label class="block font-medium text-gray-700 mb-2" for="password">
          Password (8 Characters minimum)  
        </label>

        <input
          class="border rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:border-indigo-500" 
          type="password" id="password-signup" placeholder="Enter a Password">
      </div>
  
                 <button 
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit">
      Submit
    </button>
        </form>
        <div class="text-grey-dark mt-6">
            Already have an account? 
            <a class="text-indigo-700 hover:text-gray-700 no-underline  border-blue text-blue" href="../login">Log in instead</a>
        </div>
    </div>
</div>
    
<script src="./js/signup.js"></script>


